body{
    overflow: scroll; 
}

footer{
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    justify-content: end;
}

footer p
{
 font-weight: 200;
}

nav a{
    font-weight: 300;
}

nav{
    font-weight: 200;
    align-items: center;
}

/* Class Types */
div .calculator {
    width: 350px;
    padding: 0.5em;
    background-color: rgb(255, 0, 85);
}

.calculator button {
    width: 32.3%;
    padding: 1em;
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    border: 0.1em solid;
    
}

.calculator .calculatorInput {
    width: 72%;
    padding: 1em;
    margin-bottom: 0.5em;
    border: 0.1em solid white;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 16px;
}

.calculator .calculateBtn {
    width: 100%;
    padding: 1em;
    margin-top: 0.5em;
    font-weight: Bold;
    font-size: large;
}

.calculator .clearCalc {
    width: 26%;

}

.codeSection
{
    margin-top: 1em;
    background-color: rgb(255, 0, 85);
    padding: 2em;
}

.codeSection div
{
    width: 300px;
}

.codeSection h2
{
    text-align: center;
    width: 300px;
}

.codeSection p
{
    padding: 1em;;
    overflow:auto;
    height: 200px;
    margin-right: 0.5em;
}

.formCenter
{
    display: flex;
    justify-content: center;
    white-space: pre-line;
}

.formStyle
{
    width: 600px;
    margin: 2em;
}
.formStyle h3
{
    margin: 0px;
    padding: 0px;
}

.formStyle input{
    padding: 0.4em;
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 1px;
}
.formStyle ::placeholder{
    color: rgb(217, 217, 217);
}
.formStyle button{
    padding: 0.4em;
    width: 25%;
    float: right;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 1px;
}


.imgSize {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.indexStyle{
    background-color:rgb(255, 0, 85);
    color: rgb(242, 242, 242);
    margin: 0px;
    padding: 0.5em;
    border: 1px solid rgb(52, 52, 52);
    width: 100px;
}

.pageSize
{
    width:600px;
    margin-left: auto;
    margin-right: auto;
}

.referenceStyle{
    margin-top: 2em;
    width: 100%; 
}

.referenceStyle th {
    border: 1px solid black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.referenceStyle h3 {
    color: red;
    font-size: larger;
}

.referenceStyle table {
    width: 100%;
}
