.tableStyle td , th{
    padding-right: 2em;
    white-space: pre-line;
    margin: 0;
}
.tableStyle td {
    padding-top: 1em;

}

/* Class Types */
div .calculator {
    width: 350px;
    padding: 0.5em;
    background-color:#BCEAFF;
   
}

.calculator button {
    width: 32.3%;
    padding: 1em;
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    border: 0.1em solid;

}

.calculator .calculatorInput {
    width: 72%;
    padding: 1em;
    margin-bottom: 0.5em;
    border: 0.1em solid white;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 16px;
}

.calculator .calculateBtn {
    width: 100%;
    padding: 1em;
    margin-top: 0.5em;
    font-weight: Bold;
    font-size: large;
}

.calculator .clearCalc {
    width: 26%;

}

/*Page Styling */
body {
    overflow: scroll;
    overflow-y:scroll;
    overflow-x: auto;
    
    
}
footer {
    
    width: 100%;
    padding: 0.5em;
    text-align: center;
    border-top: #BCEAFF 1px solid;
    background-color: #D6F2FF;
}

footer p {
    font-weight: 200;
}

nav a {
    font-weight: 300;
}

nav {
    font-weight: 200;
    align-items: center;
}

.bodyStyle {
    background-image: url("../img/cool-background.png");
    background-position: center;
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.navbarStyle {
    background-color: #D6F2FF;
    border-bottom: #BCEAFF 1px solid;
}

.wrapper {
    width: 750px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
    background-color: hsl(195, 100%, 98%);
    padding: 2em;
    border-left: #BCEAFF 1px solid;
    border-right: #BCEAFF 1px solid;
    font-size: 16px;
    line-height: 24px;
    color: rgb(2 132 199);
}
.elementStyle button {
    background-color: #00A5F1;
    color: rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 2em;
    padding: 0.2em;
    letter-spacing: 1px;
    border: 0px;
    width: 100px;
    border-radius: 3px;
    margin-right: 0.2em;
}
.elementStyle input {
    margin: 0px;
    padding: 0.2em;
    letter-spacing: 1px;
    border: 1px solid #00A5F1;;
    border-radius: 3px;
    margin-right: 0.2em;
}

.wrapper h3{
    font-size: 20px;
    padding-top: 30px;
}

.wrapper h4{
    font-size: 18px;
    padding-top: 26px;
}


/* index Page*/

.indexStyle{
    text-align: center;
}

.indexStyle button{
    background-color: #00A5F1;
    color: rgb(255, 255, 255);
    margin: 0px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.2em;
    letter-spacing: 1px;
    border: 0px;
    width: 100px;
    border-radius: 3px;
    margin-right: 0.2em;
}

.indexStyle h3{
    margin-top: 1em;
}

/* Tutorials Section */

.codeStyle p{
    overflow:auto; 
    height:150px;
    width: auto;
}

.imgSize {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/*Admin Login Page */
.loginStyle {
    width: 650px;
    padding-left: 1em;
}

.loginStyle h3 {
    margin: 0px;
    padding: 0px;
}

.loginStyle input {
    padding: 0.4em;
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 3px;
    caret-color: #333;
}

.loginStyle ::placeholder {
    color: rgb(217, 217, 217);
}

.loginStyle button {
    padding: 0.4em;
    width: 25%;
    float: right;
    border-radius: 3px;
    background-color: #00A5F1;
    color: rgb(255, 255, 255);
    margin: 0px;
    letter-spacing: 1px;
    border: 0px;
}

/*RegEX Tutorial*/
.signUpRegex {
    width: 400px;
    border: 2px solid #BCEAFF;
    padding: 2em;
}

.signUpRegex h3 {
    margin: 0px;
    padding: 0px;
}

.signUpRegex input {
    padding: 0.4em;
    width: 100%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 1px;
    
}

.signUpRegex ::placeholder {
    color: rgb(217, 217, 217);
}

.valid {
    border: 3px solid green !important;
    border-radius: 4px !important;
}

.invalid {
    border: 3px solid red !important;
    border-radius: 4px !important;

}


/* API Notes Page */
.extraPadding td
{
    padding-bottom:1em;
    padding-top:1em;
}